asyncio==3.4.3
attrs==19.3.0
Automat==20.2.0
bleak==0.6.2
certifi==2020.4.5.1
chardet==3.0.4
constantly==15.1.0
cycler==0.10.0
docutils==0.16
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
Kivy==1.11.1
Kivy-Garden==0.1.4
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.4
Pygments==2.6.1
PyHamcrest==2.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.23.0
scipy==1.4.1
six==1.14.0
Twisted==20.3.0
txdbus==1.1.1
urllib3==1.25.9
zope.interface==5.1.0
